<div class="column column-50">
  <div class="row">
    <a href="/new" class="button">New Game</a>
  </div>
  <div class="row">
    <%= form_tag("/play", method: :post) %>
    <input type="text" name="pid_atom" placeholder="id" required autofocus>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Play</button>
  </div>
</div>
